* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

body {
	margin: 0;
	/* background-color: #ff5402; */
	background-color: #ff5402;
	background: linear-gradient(to right, #ff5402, #ef8a17);
	background: -moz-linear-gradient(to right, #ff5402, #ef8a17);
	font-family: 'Space Mono', monospace;
	text-shadow: .25px .25px 3px black;
	line-height: 1;
	text-align: center;
}

main {
	top: 35vh;
	width:; 405px;
}

.cont-main {
	width: 530px;
	margin: 0 auto;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.cont-inner {
	display: inline-flex;
}

#time-string {
	min-height: 104px;
	font-size: 100px;
	letter-spacing: .05em;
	border-bottom: 4px solid black;

	color: white;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	height: 24px;
	width: 24px;
	margin: 3px;
	background-color: transparent;
	cursor: pointer;
	border: none;
	font-size: 24px;
	text-shadow: .25px .25px 3px black;
	color: white;
}

.btn:hover {
	color: black;
	text-shadow: .25px .25px 1px black;
}

.btn:active {
	color: black;
}